<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Confirm Your Email</h1>
  <p>Dear <%= @user.username %>,</p>
  <p>Thank you for signing up! Please click the link below to confirm your email address:</p>
  <p><%= link_to 'Confirm Email', url_for(controller: 'users', action: 'confirm_email', token: @user.confirmation_token, host: 'http://127.0.0.1:8080/') %></p>
  <p>Thank you!</p>
</body>
</html>
