<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ST Market!</h1>
    <p>Hello <%= @user.username %>,</p>
    <p>Congratulations! You have successfully signed up for ST Market.</p>
    <p>Your account has been created with the following information:</p>
    <p>Username: <%= @user.username %></p>
    <p>Email: <%= @user.email %></p>
    <p>Password: Encrypted for security purposes</p>
    <p>You can login at any time to start shopping!</p>
    <br>
    <p>Have questions? </p>
    <<p>Reach out to via email at <a href="mailto:marketplace@slightlytechie.com">
    <p>Thanks,</p>
    <p>The Sligthly Techie Team</p>
  </body>
</html>

